/** Button container, for nice button spacing and alignment */
.button-container {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.button-container select {
  min-width: 0;
}

.receive-pointer-events {
  pointer-events: initial;
}

/**
 * Fancy buttons
 */
.fancy-buttons {
  i:hover {
    transform: scale(1.4);
  }
  i:active {
    transform: scale(0.9);
    text-shadow: 0 0 8px currentColor;
  }
}

/**
 * Tooltips
 * Usage:
 * <span class="hovertext" data-hover="this is the tooltip">
 */
.hovertext {
  position: relative;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 100;
  left: 0;
  bottom: 1.2em;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

.hovertext.hovertext-flip:before {
  left: unset;
  right: 0;
}